
.fondo {
    background-image: url("/assets/imgs/banner-bk.jpg");
    background-repeat: no-repeat;

    height: 680px;

 

}
.logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 45px;
    left: 135px;
}


.btn-started {
    background-color: #01f7a8; 
    color: rgb(0, 0, 0);
    padding: 18px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 560px;
    left: 135px;

}

.btn-access {
    background-color: transparent; 
    color: #ffff;
    padding: 10px 20px;
   border: none;
    font-size: 16px;
    position: absolute;
    top: 66px;
    right: 130px;
}
.h1 {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    color: #ffff;
    position: absolute;
    top: 150px;
    left: 135px;
}

.linea1,.linea2 {
    display: block;
    margin: 0;
    line-height: 1.2;
}
.h3 {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 100;
    font-style: normal;
    color: #ffff;
    position: absolute;
    top: 410px;
    left: 135px;
}

.linea3,.linea4 {
    display: block;
    margin: 0;
    line-height: 1.2;
}



/* section 2 */

.part2{
  height: 500px;


}


h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 78px;
    font-weight: 400;
    font-style: bold;
    color: #000;
    padding-top: 1px;
    text-align: center;


}
.img_1,.img_2,.img_3 {
    width: 200px;
    height: 200px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
    
}

.titles {
    display: flex;
    justify-content: space-evenly;

}

.titles p{
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin: 0;

}

.descriptions {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.descriptions p{
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #000;
    margin: 0;
}

/* section 3 */

.part3{
    height: 853px;
  }
  
  .trapecio {
      width: 98.7vw;
      height: 39rem;
      background-color: #01f7a8;
      clip-path: polygon(0 51%, 100% 0%, 100% 100%, 0% 100%);
      position: absolute;
     margin-top: 22rem;
  
  }
  
  
  .title_s3 {
  
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-size: 58px;
      font-weight: 400;
      font-style: bold;
      color: #000;
      position: relative;
      text-align: left;
      padding-top: 30vh;
      margin:0;
      left: 85px;
      padding-right: 0;
      width: 45rem;
  }
  
  .part3 p {
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-size: 24px;
      font-weight: 200;
      font-style: normal;
      color: #000;
      position: relative;
      text-align: left;
      left:85px;
      margin: 0;
      width: 45rem;
  
  
  }
  
  .learnmore {
      background-color: #192440; 
      color: rgb(255, 255, 255);
      padding: 18px 30px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      left: 85px;
      position: relative;
      margin-top: 40px;
  }
  .part3 img {
      position: absolute;
      top: 160vh;
      left: 900px;
  
  }
  
  /* section 4 */
  
  .part4{
      height: 350px;
      width: 98.7vw;
      background-color: #01f7a8;
    }
    
    .part4 img {
        position: absolute;
        top: 220vh;
        left: 20rem;
    }
    
    .title_s4 {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 58px;
        font-weight: 400;
        font-style: bold;
        color: #000;
        position: relative;
        text-align: left;
        margin:0;
        left: 65rem;
        width: 45rem;
        width: 400px;
    }
    .part4 p {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 24px;
        font-weight: 200;
        font-style: normal;
        color: #000;
        position: relative;
        text-align: left;
        left:65rem;
        margin: 0;
        width: 400px;
    
    }
    
    .part4 button{
        background-color: #192440; 
        color: rgb(255, 255, 255);
        padding: 18px 30px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-top:40px;
        position: relative;
        left: 70rem;
    }


/* section 5 */

.part5{
  height: 850px;

}

.title_s5{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 58px;
    font-weight: 400;
    font-style: bold;
    color: #000;
    padding-top: 100px;
    text-align: center;

}
.prices {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 40px;




}
.price1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding-top: 20px;
    width: 400px;



}
.price1:hover {
    background-color: #192440;
    color: #ffff;
}
.price1 button:hover {
    background-color: #01f7a8;
}
.price1 h4 {
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    margin: 10px;
}
.price1 h5 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    margin: 10px;

}
.price1 h5 big {
    font-family: "Oswald", sans-serif;
    font-size: 78px;


}
.price1 button {
    background-color: white; 
    color: rgb(0, 0, 0);
    padding: 18px 30px;
    border:solid#000;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}

.price2 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding-top: 20px;
    position: relative;
    width: 400px;

}
.price2:hover {
    background-color: #192440;
    color: #ffff;
}
.price2 button:hover {
    background-color: #01f7a8;
}
.price2 h4 {
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    margin: 10px;
}
.price2 h5 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    margin: 10px;

}
.price2 h5 big {
    font-family: "Oswald", sans-serif;
    font-size: 78px;


}
.price2 button {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    padding: 18px 30px;
    border: solid #000;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}
.price3 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding-top: 20px;
    position: relative;
    width: 400px;
    height: 500px;

}
.price3:hover {
    background-color: #192440;
    color: #ffff;
}
.price3 button:hover {
    background-color: #01f7a8;
}
.price3 h4 {
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    margin: 10px;
}
.price3 h5 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    margin: 10px;

}
.price3 h5 big {
    font-family: "Oswald", sans-serif;
    font-size: 78px;


}
.price3 button {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    padding: 18px 30px;
    border: solid #000;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}
/*section 6 */

.part6 {
    height: 150px;
    background-color: #eceeef;
}
.part6 div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 40px;
}

/*section 7 */

.part7 {
    background-image: url("/assets/imgs/contact-bk.jpg");
    background-repeat: no-repeat;

    height: 500px;
}

.part7 .text {
    width: 400px;
    height: 200px;
    padding-top: 40px;
    position: absolute;
    left: 70px;
}

.part7 .text h2 {
    font-family: "Oswald", sans-serif;
    font-size: 68px;
    margin: 20px;
    color: #ffffff;
    
}

.part7 .text p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 200;
    font-style: normal;
    color: #ffff;
    position: relative;
    left: 66px;
}



.forms-part7 {
    margin-top: 200px;
    position: relative;
    left: 60rem;
    top: 100px;
    width: 200px;
    width: 200px;
}

.forms-part7 label {
    color: #00ffaa;
}

.forms-part7 input {
    border: 3px solid #00ffaa;
    background-color: transparent;
    position: relative;
    margin-top: 0px;
    width: 14.3rem;
    height: 2rem;
    border-radius: 5px;
    margin-left: 15px;
    box-shadow: #00ffaa 2px 2px;
    
}

.input1 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 0px;
}

.input2 {
    margin-top: 15px;
}

.input2 input {
    width: 30rem;
    height: 5rem;
    margin-top: 0;
}

.forms-part7 p {
    background-color: #00ffaa;
    border: solid #00ffaa;
    border-radius: 20px;
    padding: 12px 10px;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 40px;
    cursor: pointer;
}
