
.fondo {
    background-image: url("/assets/imgs/banner-bk.jpg");
    background-repeat: no-repeat;

    height: 680px;

 

}
.logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 45px;
    left: 135px;
}


.btn-started {
    background-color: #01f7a8; 
    color: rgb(0, 0, 0);
    padding: 18px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 560px;
    left: 135px;

}

.btn-access {
    background-color: transparent; 
    color: #ffff;
    padding: 10px 20px;
   border: none;
    font-size: 16px;
    position: absolute;
    top: 65px;
    right: 130px;
}
.h1 {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    color: #ffff;
    position: absolute;
    top: 150px;
    left: 135px;
}

.linea1,.linea2 {
    display: block;
    margin: 0;
    line-height: 1.2;
}
.h3 {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 100;
    font-style: normal;
    color: #ffff;
    position: absolute;
    top: 410px;
    left: 135px;
}

.linea3,.linea4 {
    display: block;
    margin: 0;
    line-height: 1.2;
}



/* section 2 */

.part2{
  height: 500px;


}


h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 78px;
    font-weight: 400;
    font-style: bold;
    color: #000;
    padding-top: 1px;
    text-align: center;


}
.img_1,.img_2,.img_3 {
    width: 200px;
    height: 200px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
    
}

.titles {
    display: flex;
    justify-content: space-evenly;

}

.titles p{
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin: 0;

}

.descriptions {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.descriptions p{
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #000;
    margin: 0;
}




